<html>
    <head>
        <title>TrendifyStocks - Lessons </title>
        <link rel="stylesheet" type="text/css" href="lessons.css">
    </head>
    <body>
        <header>
            <nav class="sticky">
                <img src="profilePic.jpg" alt="Profile Picture" class="profile-icon">
                <div class="welcome-message">
                    Welcome, [Username]!
                </div>            
                <ul>
                    <li><a href="{{home}}">Home</a></li>
                    <li><a href="#">Lessons</a></li>
                    <li><a href="{{practice}}">Practice</a></li>
                    <li><a href="#">Current Trends</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1 class="{{title}}">Lessons</h1>
            <p class="{{apple}}">Apple</p>
            <p class="{{microsoft}}">Microsoft</p>
            <p class="{{amazon}}">Amazon</p>
            <img src="apple.jpg" alt="Apple" class="applelogo">
            <img src="microsoft.png" alt="Microsoft" class="microsoftlogo">
            <img src="amazon.png" alt="Amazon" class="amazonlogo">
            <p class="{{facebook}}">Facebook</p>
            <p class="{{walmart}}">Walmart</p>
            <img src="facebook.png" alt="Facebook" class="facebooklogo">
            <img src="walmart.jpg" alt="Walmart" class="walmartlogo">
        </main>
    </body>
</html>