<html>
    <head>
        <title>TrendifyStocks - Lessons </title>
        <link rel="stylesheet" type="text/css" href="practice.css">
    </head>
    <body>
        <header>
            <nav class="sticky">
                <img src="profilePic.jpg" alt="Profile Picture" class="profile-icon">
                <div class="welcome-message">
                    Welcome, {{user}}!
                </div>            
                <ul>
                    <li><a href="{{home}}">Home</a></li> <!-- homepage variable-->
                    <li><a href="{{lessons}}">Lessons</a></li> <!-- lessons variable-->
                    <li><a href="#">Practice</a></li>
                    <li><a href="#">Current Trends</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1 class="{{title}}">Practice</h1>
            <p class="{{apple}}">Apple</p> <!-- apple variable-->
            <p class="microsoft">Microsoft</p> <!-- microsoft variable-->
            <p class="{{amazon}}">Amazon</p> <!-- amazon variable-->
            <img src="apple.jpg" alt="Apple" class="applelogo">
            <img src="microsoft.png" alt="Microsoft" class="microsoftlogo">
            <img src="amazon.png" alt="Amazon" class="amazonlogo">
            <p class="{{facebook}}">Facebook</p> <!-- facebook variable-->
            <p class="{{walmart}}">Walmart</p> <!-- walmart variable-->
            <img src="facebook.png" alt="Facebook" class="facebooklogo">
            <img src="walmart.jpg" alt="Walmart" class="walmartlogo">
        </main>
    </body>
</html>